service cloud.firestore {
  match /databases/{database}/documents {
    function isAuthenticated() {
      return request.auth != null;
    }
    //match /{document=**} {
    match /consumers/{document=**} {
      allow create: if isAuthenticated();
    }
  }
}
