body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

button.plain {
     background:none!important;
     color:inherit;
     border:none; 
     padding:0!important;
     font: inherit;
     /*border is optional*/
     //border-bottom:1px solid #444; 
     cursor: pointer;
}
.dropdown-menu>li>button {
    margin: 5px 15px 5px 25px;
    color: #777;
}
button.dropdown-toggle {
    margin: 5px 15px 5px 15px;
    color: #777;
}

.nav>li>button {
    position: relative;
    display: block;
    padding: 10px 15px;
}
.nav-pills>li>button {
    border-radius: 4px;
    color: #337ab7;
    text-decoration: none;
}

.nav-pills>li.active>button, .nav-pills>li.active>button:focus, .nav-pills>li.active>button:hover {
    color: #fff;
    background-color: #337ab7;
}
